<app-header></app-header>


<div class="dwr-registration"> 
    <div class =" container-fluid">
    <div class="dwr-registration__inner-content"> 
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="dwr-registration__form-wrap">
    <h2 class="text-center"> Company Login</h2>
    <!-- <p>Please fill in this form to login into an account!</p> -->

    <div class ="registration-form">
      <form   action="/action_page.php" class="was-validated"
      #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.value)"  novalidate>

     
      <div class="mb-3">
        <label for="email" class="form-label">Email Id:</label>
        <input type="text" class="form-control" placeholder="Enter email" name="companyEmail" required ngModel>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" required ngModel>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>


      <button [disabled]="loginForm.invalid" class="btn btn-primary" mat-raised-button color="success">Login</button>

<div class="text-center">Don't have have an account? <a routerLink="/compRegister">Register here</a></div>

</form>













<!-- <body>
    <div class="signup-form">
        <form action="/examples/actions/confirmation.php" method="post" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm.value)">
            <h2>Employer Login</h2>
            <p>Please fill in this form to login into an account!</p>
            <hr>


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-paper-plane"></i>
                        </span>
                    </div>
                    <input type="email" class="form-control" name="emailId" placeholder="Email Address" required="required" ngModel #emailId="ngModel">
                </div>
                <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="alert alert-danger">Email is required.</div>
                <div *ngIf="emailId.errors?.required">  </div>
                <div *ngIf="emailId.errors?.emailId"> Email must be a valid email address.</div>
            </div>


            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required" ngModel #password="ngModel">
                </div>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors?.required"> Password is required. </div>
                  </div>
            </div>
           
            
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a
                        href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>

            <div class="pass"><a href="#">Forgot password?</a></div>
            
        </form>
        
        <div class="text-center">Don't have have an account? <a routerLink="/compRegister">register here</a></div>
    </div>
</body> -->