<body>
    <!-- Preloader Start -->
    <!-- <app-loader></app-loader> -->
    <!-- Preloader End -->

    <header>
        <!-- Header Start -->
        <!-- <app-header></app-header> -->
        <!-- <app-userheader></app-userheader> -->
        <!-- <app-companyheader></app-companyheader> -->
        <!-- Header End -->
    </header>

    <!-- <app-dashboard></app-dashboard> -->
    <!-- <app-admin></app-admin> -->
    <!-- <app-view-jobs-posted></app-view-jobs-posted> -->
    <!-- <app-company-profile></app-company-profile> -->
    <!-- <app-job-post></app-job-post> -->
    <!-- <app-companyregister></app-companyregister> -->
    <!-- <app-elements></app-elements> -->
    <!-- <app-test></app-test> -->
    <!-- <app-toaster-testing></app-toaster-testing> -->
    <!-- <app-find-jobs></app-find-jobs> -->
    <!-- <app-company-applications></app-company-applications> -->
    <main>
        <router-outlet></router-outlet>
    </main>


    <app-footer></app-footer>


</body>