

<!-- Job List Area Start -->
<div class="job-listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            
            <!-- Right content -->
            <div class="col-xl-9 col-lg-9 col-md-8">
                <!-- Featured_job_start -->
                <section class="featured-job-area">
                    <div class="container">
                     
                       
                       
                            <!-- single-job-content -->
                        <div>
                            <div class="single-job-items mb-30">
                                <div class="job-items">
                                    <div class="company-img">
                                        <img src="assets/img/icon/job-list1.png" alt="">
                                    </div>
                                    <div class="job-tittle job-tittle2">
                                        
                                            <h4><i class="fa fa-user" aria-hidden="true"></i>  Job Title</h4>
                                        
                                        <ul>
                                            <li>Creative Agency</li>
                                            <li><i class="fas fa-map-marker-alt"></i>Location</li>
                                            <li><i class="fa fa-inr" aria-hidden="true"></i> Salary   </li>
                                            <li><i class='fas fa-graduation-cap'></i>Education</li>
                                        </ul>
                                        <ul>
                                            <li><i class="fa fa-info" ></i>Description</li>
                                            <li><i class="fa fa-briefcase"></i>Experience </li>
                                            <li><i class='fas fa-file-alt'></i> Skills   </li>
                                            <li>Vacancies </li>
                                        </ul>

                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary">Normal</button>                            </div>
                        </div>

                        
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
